@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

img {
    max-width: 100%;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-gray);
}

.card {
    position: relative;
    display: flex;
    margin: 0, 1rem;
    flex-direction: column;
    width: 280px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    padding: 15px;
    justify-content: space-between;
}

.card img {
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.card h1 {
    color: var(--dark-blue);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.card p {
    color: var(--grayish-blue);
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1.5rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(min-width:500px){
    .container{
        width:400px;
    }
}
